* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



$clr-1 : teal;
$clr-2 : #6454ff;

$fs-1: 2.2rem;
$fs-2: 4rem;



.container {
    padding: 4rem;
    background: rgb(235, 235, 235);

    h1 {
        color: $clr-1;
        font-size: $fs-2;
    }

    h2 {
        color: $clr-2;
        font-size: $fs-1;
    }
    
}